<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include 'partials/head_meta.html' %}
    <title>{{ title }}</title>
    {% include 'partials/head_includes.html' %}
</head>
<body>
    <aside id="left-panel" class="left-panel">
        {% include 'partials/menu.html' %}
    </aside>
    <div id="right-panel" class="right-panel">
        {% include 'partials/header.html' %}
        {% block content %}
        {% endblock %}
    </div>
    {% include 'partials/footer_includes.html' %}
</body>
</html>
