<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <% include ./partials/head_meta %>
        <title>
            <%= title %>
        </title>
        <% include ./partials/head_includes %>
</head>

<body>
    <aside id="left-panel" class="left-panel">
        <% include ./partials/menu %>
    </aside>
    <div id="right-panel" class="right-panel">
        <% include ./partials/header %>
            <%- body -%>
    </div>
    <% include ./partials/footer_includes %>
</body>

</html>