<div id="about" class="pi-points">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="points-intro text-center">
                    <h1 class="wow fadeInDown">We are IOTA Evangelists</h1>
                    <div class="wow fadeInDown secondary-text" data-wow-delay="0.2s">
                      IOTA evangelists are people who build a critical mass of support for the IOTA technology, and subsequently establishes IOTA as a technical standard within the global market.
                    </div>
                    <!-- <p class="wow fadeInDown" data-wow-delay="0.2s">IOTA evangelists are people who build a critical mass of support for the IOTA technology, and subsequently establishes IOTA as a technical standard within the global market.</p> -->
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.1s">
                <div class="point-icon">
                    <img src="assets/icons/4.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>Content Creating</h1>
                    <p>We promote the adoption of IOTA to individuals, groups and organizations through giving talks, writing articles, creating videos.</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.1s">
                <div class="point-icon">
                    <img src="assets/icons/3.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>IOTA Demo</h1>
                    <p>We conduct demonstrations on IOTA for organisations to promote adoption and learning purposes.</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="point-icon">
                    <img src="assets/icons/1.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>IOTA POCs</h1>
                    <p>We help create proof of concepts using IOTA. We also help out other organisations with their use-cases by consulting them on technical lines.</p>
                </div>
            </div>
            <!-- <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="point-icon">
                    <img src="assets/icons/1.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem Ipsum and something that can look good here. Lorem Ipsum and something that can look good here.</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.3s">
                <div class="point-icon">
                    <img src="assets/icons/5.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem Ipsum and something that can look good here. Now this block looks really great in a way I guess.</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-delay="0.3s">
                <div class="point-icon">
                    <img src="assets/icons/6.png" width="45" alt="Feature">
                </div>
                <div class="point-text">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem Ipsum and something that can look good here. Lorem Ipsum and something that can look good here.</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
