<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="ft-left">
                    <div class="footer-img">
                        <img src="https://i.imgur.com/E21QVVl.png" width="250rem" alt="Logo">
                    </div>
                    <p>A world-wide strong community of IOTA enthusiasts.</p>
                    <p> <img src="assets/img/copyleft.png" style="height:0.75rem"> IEN</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-3">
                <div class="ft-links">
                    <ul>
                        <li><a href="/#about">About Us</a></li>
                        <!-- <li><a href="#">Code of Conduct</a></li> -->
                        <li><a href="/#team">Team</a></li>
                        <!-- <li><a href="#">Privacy Policy</a></li> -->
                        <!-- <li><a href="#">User Agreement</a></li> -->
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
