<div id="partners" class="pi-points">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="cta-team-inner">
                    <h1 class="wow fadeInDown" data-wow-delay="0.1s">
                        Our Partners
                    </h1>
                    <section class="customer-logos slider">
                        <div class="slide">
                            <a href="https://byteacademy.co/" target="_blank"><img src="https://byteacademy.co/wp-content/uploads/2016/10/byte_academy_logo.png" /></a>
                        </div>
                        <div class="slide">
                            <a href="http://www.startupdrinksmontreal.com/" target="_blank"><img src="http://www.startupdrinksmontreal.com/uploads/2/9/0/3/2903451/1415857482.png" /></a>
                        </div>
                        <div class="slide">
                            <a href="https://www.wzl.rwth-aachen.de/" target="_blank"><img src="https://schuh-group.com/site/assets/files/1226/logo-wzl-cmyk-mit-schutzraum.png" /></a>
                        </div>
                        <div class="slide">
                            <a href="https://biilabs.io/" target="_blank"><img src="https://i.imgur.com/XTJiwUx.jpg" /></a>
                        </div>
                        <div class="slide">
                            <a href="https://www.seekyou.cc/" target="_blank"><img src="https://media.licdn.com/dms/image/C4D0BAQFEc8X_UCMDOA/company-logo_200_200/0?e=2159024400&v=beta&t=p5PBUGaflcInGl6r3pk-zWSnkm4yEZzilwZKhAKO5KE" /></a>
                        </div>
                        <!-- <div class="slide">
                            <a href="https://blockchainedindia.com/" target="_blank"><img src="https://i.imgur.com/VqCY1yx.jpg"></a>
                        </div> -->
                        <div class="slide">
                            <a href="https://acycliclabs.com/" target="_blank"><img src="https://i.imgur.com/cwh0Uyf.png" /></a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>