<div id="team" class="team cta-team-outer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="cta-team-inner">
                    <h1 class="wow fadeInDown" data-wow-delay="0.1s">Our Awesome Team</h1>
                    <div class="at-grid" data-column="3" data-wow-delay="0.2s">
                        {% for teamMember in teamMembers %}
                            {% if teamMember['memberId']<7 %}
                                <div class="at-column">
                                    <div class="at-user">
                                        <div class="at-user__avatar"><img src="{{teamMember['picture']}}" /></div>
                                        <div class="at-user__name">{{teamMember['firstName']}} {{teamMember['lastName']}}</div>
                                        <div class="at-user__title">{{teamMember['location']}}</div>
                                        <ul class="at-social">
                                            {% for teamSocialHandleKey, teamSocialHandleValue in teamMember['socialHandles'] %}
                                                {% if teamSocialHandleKey and teamSocialHandleKey=='discord' %}
                                                    <li class="at-social__item"><a href="{{socialAccounts[teamSocialHandleKey]['baseUrl']}} "><i class="fa {{socialAccounts[teamSocialHandleKey]['iconClass']}}" aria-hidden="true"> @{{teamSocialHandleValue}}</i></a></li>
                                                {% else %}
                                                    <li class="at-social__item"><a href="{{socialAccounts[teamSocialHandleKey]['baseUrl']}}{{teamSocialHandleValue}} "><i class="fa {{socialAccounts[teamSocialHandleKey]['iconClass']}}" aria-hidden="true"></i></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="btn btn-action btn-gplus wow fadeInDown" href="/team"><span></span> <span>See All</span></a>
                    <br/><br/>
                    <div id ="teamModal" class="collapse">
                      <div class="at-grid" data-column="3" data-wow-delay="0.2s">
                        {% for teamMember in teamMembers %}
                          {% if teamMember['memberId']>6 %}
                            <div class="at-column">
                              <div class="at-user">
                                <div class="at-user__avatar"><img src="{{teamMember['picture']}}" /></div>
                                <div class="at-user__name">{{teamMember['firstName']}} {{teamMember['lastName']}}</div>
                                <div class="at-user__title">{{teamMember['location']}}</div>
                                <ul class="at-social">
                                  {% for teamSocialHandleKey, teamSocialHandleValue in teamMember['socialHandles'] %}
                                    {% if teamSocialHandleKey and teamSocialHandleKey=='discord' %}
                                      <li class="at-social__item"><a href="{{socialAccounts[teamSocialHandleKey]['baseUrl']}} "><i class="fa {{socialAccounts[teamSocialHandleKey]['iconClass']}}" aria-hidden="true"> @{{teamSocialHandleValue}}</i></a></li>
                                    {% else %}
                                      <li class="at-social__item"><a href="{{socialAccounts[teamSocialHandleKey]['baseUrl']}}{{teamSocialHandleValue}} "><i class="fa {{socialAccounts[teamSocialHandleKey]['iconClass']}}" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
