{% extends '../layout.html' %} {% block title %}{% endblock %} {% block content %}

<link href="assets/css/apply.css" rel="stylesheet" type="text/css">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="container container-apply">
    <div class="wizard" id="myWizard">
        <section>
            <h4 class="page-title text-center">Join IEN</h4>
        </section>
        <div class="wizard__progress">
            <ul class="wizard__labels nav nav-tabs">
                <li style="width:25%;" class="col-xs-12 active">
                    <a href="#personal-info" data-toggle="tab" data-step="1">
                        <i class="fa fa-user-secret wizard__icon"></i> Personal Info</a>
                </li>
                <li style="width:25%;" class="col-xs-12 ">
                    <a href="#professional-info" data-toggle="tab" data-step="2">
                        <i class="fa fa-suitcase wizard__icon"></i> Professional Info</a>
                </li>
                <li style="width:25%;" class="col-xs-12 ">
                    <a href="#self-assessment" data-toggle="tab" data-step="3">
                        <i class="fa fa-star wizard__icon"></i> Self Assessment</a>
                </li>
                <li style="width:25%;" class="col-xs-12 " id="lastli">
                    <a href="#validate" data-toggle="tab" data-step="4">
                        <i class="fa fa-check wizard__icon"></i> Validate
                    </a>
                </li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 25%;"> </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="personal-info">

                <section>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="email">Email <span class="required">*</span></label>
                                <input type="email" class="form-control input-sm" id="email" value="anirudha@ien.io">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="name--first"> First Name<span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" id="name__first" value="Kumar">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="name--last"> Last Name <span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" id="name__last" value="Anirudha">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-3">
                            <!-- ================= country ================= -->
                            <div class="form-group">
                                <label class="control-label" for="country">Country <span class="required">*</span></label>
                                <select class="form-control input-sm" id="country">
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia, Plurinational State of</option>
                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island and McDonald Islands</option>
                                    <option value="VA">Holy See (Vatican City State)</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                    <option value="KR">Korea, Republic of</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States of</option>
                                    <option value="MD">Moldova, Republic of</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="BL">Saint Barthélemy</option>
                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="MF">Saint Martin (French part)</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan, Province of China</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US" selected="selected">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VG">Virgin Islands, British</option>
                                    <option value="VI">Virgin Islands, U.S.</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="info--city">City <span class="required">*</span></label>
                                    <input type="text" class="form-control input-sm" id="info--city" placeholder="city" value="Tokyo" />
                                </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="discord--handle"> IOTA Discord Handle<span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" id="discord__handle" value="anistark">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="telegram--handle"> Telegram Handle</label>
                                <input type="text" class="form-control input-sm" id="telegram__handle" value="anistark">
                            </div>
                        </div>
                        <!-- / end col -->

                    </div>
                </section>
                <section class="text-right">
                    <button type="button" class="btn btn-primary btn-sm next">Continue</button>
                </section>

            </div>
            <div class="tab-pane fade" id="professional-info">

                <section>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="profession"> Full Time Professional Role or Background<span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" id="profession" value="Product Architect">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="linkedin"> LinkedIn <span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" id="linkedin" value="kranirudha">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="personal--website"> Personal Website URL </label>
                                <input type="text" class="form-control input-sm" id="personal__website" value="anirudha.org">
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="resume"> Please share your CV/Resume Link here </label>
                                <!-- <input type="file" class="form-control input-sm" id="resume"> -->
                                <input type="text" class="form-control input-sm" id="resume" value="resume_url">
                            </div>
                        </div>
                        <!-- / end col -->

                    </div>
                </section>
                <section class="text-right">
                    <button type="button" class="btn btn-primary btn-sm next">Continue</button>
                </section>

            </div>
            <div class="tab-pane fade" id="self-assessment">
                <section>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="generalDlt"> General DLT: How long have you been interested in DLT and how were you first introduced? What are your contributions? <span class="required">*</span></label>
                                <textarea class="form-control" rows="3" id="generalDlt">About 2 years now!</textarea>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="generalIota"> IOTA: How long have you been in the IOTA community and how were you first introduced? What are your contributions? <span class="required">*</span></label>
                                <textarea class="form-control" rows="3" id="generalIota">About 1 year now!!</textarea>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="rateIota"> How confident are you in your ability to explain the differences and benefits of IOTA/Tangle over other DLTs to people? <span class="required">*</span></label>
                                <br />
                                <div class="col-sm-2">
                                    <p>Very little to not at all</p>
                                </div>
                                <div class="col-sm-8">
                                    <input type="range" min=1 max=10 value=5 class="form-control input-sm slider" id="rateIota">
                                </div>
                                <div class="col-sm-2">
                                    <p>This is second nature to me</p>
                                </div>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="interestedAreasIn">Interested In (can select multiple) <span class="required">*</span></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="area1">
                                    <label class="form-check-label" for="area1" id="label-area1">
                                        Evangelizing (external outreach including setting up local IOTA hubs and business development)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="area2">
                                    <label class="form-check-label" for="area2" id="label-area2">
                                        Projects (developing applications on top IOTA that may be commercializable)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="area3">
                                    <label class="form-check-label" for="area3" id="label-area3">
                                        Research (evaluate IOTA business value proposition, market segmentation, and competitive analysis)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck4"> -->
                                    <input type="text" class="form-control input-sm" id="areaOther" placeholder="Other:">
                                </div>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="whyIEN"> Why would you be a good fit for the IEN? <span class="required">*</span></label>
                                <textarea class="form-control" rows="3" id="whyIEN">Because Steering</textarea>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="perWeek"> How many hours can you dedicate to IEN per week? </label>
                                <select class="form-control input-sm" id="perWeek">
                                    <option>0-2</option>
                                    <option>2-4</option>
                                    <option>4-6</option>
                                    <option>6-8</option>
                                    <option selected="selected">8-10</option>
                                    <option>10-12</option>
                                    <option>12-14</option>
                                    <option>14-16</option>
                                    <option>16-18</option>
                                    <option>18-20</option>
                                    <option>20+</option>
                                </select>
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="hours"> What date are you available to start? <span class="required">*</span></label>
                                <!-- <input type="text" class="js-single-daterange form-control input-sm" name="hours" id="hours" /> -->
                                <input type="text" class="form-control" id="hours" name="hours" />
                            </div>
                        </div>
                        <!-- / end col -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="acknowledgement"> I understand that I am joining IEN on a volunteer basis and without any compensation guarantee: <span class="required">*</span></label>
                                <input type="text" class="form-control input-sm" name="acknowledgement" id="acknowledgement" />
                            </div>
                        </div>
                        <!-- / end col -->

                    </div>
                </section>
                <section class="text-right">
                    <button type="button" class="btn btn-primary btn-sm next" id="last">Submit</button>
                </section>
            </div>
            <div class="tab-pane fade" id="validate">
                <section>
                    <div class="alerts--child alerts--success">
                        <div class="alerts__icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="alerts__text">
                            <span class="alerts__type">Congratulations! </span>IEN will assess your application form and get in touch with you soon!
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script src="https://apis.google.com/js/client:plusone.js" type="text/javascript"></script>

<script>
    $("#enter-id").slideUp();

    //Single date range pickers
    $(function() {
        // $('input[name="hours"]').daterangepicker({
        //     singleDatePicker: true,
        //     showDropdowns: true,
        //     minYear: 2018,
        //     maxYear: parseInt(moment().format('YYYY'),2)
        // });
        $('input[name="hours"]').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });

    $("#submit-id-button").click(function() {
        $(this).hide();
        /*$( "#submit-id" ).slideUp( "fast", function() {
          // Animation complete.
        });*/
        $("#enter-id").slideDown("fast", function() {
            // Animation complete.
        });
        $("#enter-id-button").removeAttr('disabled');

    });

    $('.next').click(function() {
        var nextId = $(this).parents('.tab-pane').next().attr("id");
        $('[href=#' + nextId + ']').tab('show');
        return false;
    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        //update progress
        var step = $(e.target).data('step');
        var percent = (parseInt(step) / 4) * 100;

        $('.progress-bar').css({
            width: percent + '%'
        });
        //$('.progress-bar').text("Step " + step + " of 5");
        e.relatedTarget // previous tab
    })

    $('.first').click(function() {
        $('#myWizard a:first').tab('show')
    })

    $('#last').click(function() {
        let checkArea1 = document.getElementById("area1");
        let checkArea2 = document.getElementById("area2");
        let checkArea3 = document.getElementById("area3");
        let checkOther = document.getElementById("areaOther");
        let interestCheckedData = "";
        if (checkArea1.checked == true) {
            interestCheckedData = $('#label-area1').text();
        }
        if (checkArea2.checked == true) {
            if(interestCheckedData.length == 0) {
                interestCheckedData = $('#label-area2').text();
            }
            else {
                interestCheckedData = interestCheckedData+', '+$('#label-area2').text();
            }
        }
        if (checkArea3.checked == true) {
            if(interestCheckedData.length == 0) {
                interestCheckedData = $('#label-area3').text();
            }
            else {
                interestCheckedData = interestCheckedData+', '+$('#label-area3').text();
            }
        }
        if (checkOther.value.length > 0) {
            if(interestCheckedData.length == 0) {
                interestCheckedData = checkOther.value;
            }
            else {
                interestCheckedData = interestCheckedData+', '+checkOther.value;
            }
        }
        interestCheckedData = interestCheckedData.replace(/\s\s+/g, ' ');
        interestCheckedData = interestCheckedData.replace(/\s*,/g, ",");
        interestCheckedData = $.trim(interestCheckedData)
        let applyData = {
            'email':$('#email').val(),
            'firstName': $('#name__first').val(),
            'lastName': $('#name__last').val(),
            'country': $('#country').val(),
            'city': $('#info--city').val(),
            'socialAccounts': {
                'discord': $('#discord__handle').val(),
                'telegram': $('#telegram__handle').val(),
                'linkedin': $('#linkedin').val(),
            },
            'profession': $('#profession').val(),
            'personalWebsite': $('#personal__website').val(),
            'resume': $('#resume').val(),
            'generalDlt': $('#generalDlt').val(),
            'generalIota': $('#generalIota').val(),
            'rateIota': $('#rateIota').val(),
            'interestedAreasIn': interestCheckedData,
            'whyIEN': $('#whyIEN').val(),
            'hours': $('#hours').val(),
            'perWeek': $('#perWeek').val(),
            'acknowledgement': $('#acknowledgement').val()
        }
        // console.log('applyData:', new Date().toString(), applyData);
        var values = [
            [
                [new Date().toString(), applyData['firstName'], applyData['country'], applyData['city'], applyData['interestedAreasIn'], '', applyData['socialAccounts']['discord'], applyData['profession'], applyData['email'], applyData['socialAccounts']['linkedin'], applyData['whyIEN'], applyData['lastName'], applyData['resume'], applyData['acknowledgement'], applyData['socialAccounts']['telegram'], applyData['generalIota'], applyData['generalDlt'], applyData['perWeek'], applyData['hours']]
            ],
        ];
        var body = {
            values: values
        };
        gapi.client.init({
            'apiKey': 'AIzaSyBNznyn08Hp7R7V679waZ6XNxw30N-jaQk',
            // 'discoveryDocs': ['https://people.googleapis.com/$discovery/rest'],
            'clientId': '545872319542-jrb91a9vgu83o43cgrf7j7ddapne00k1.apps.googleusercontent.com',
            'scope': 'profile',
        }).then(function() {
            // 3. Initialize and make the API request.
            return gapi.client.sheets.spreadsheets.values.append({
                spreadsheetId: '1YEFwEdpBVfYGwwDN-BivqMAy-prhrA3zZ36iatgKv8A',
                range: "Sheet1!A1:W1",
                valueInputOption: USER_ENTERED,
                resource: body
            });
        }).then(function(response) {
            var result = response.result;
            console.log(`${result.updates.updatedCells} cells appended.`)
            $('#lastli').addClass('success');
        }, function(reason) {
            console.log('reason:', reason);
            console.log('Error: ' + reason.result.error.message);
        });

    });

</script>

{% endblock %}
