{% extends '../layout.html' %} {% block title %}{% endblock %}
{% block content %}

    <div id="main" class="main">
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div style="margin: 2rem;">
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/anistark/albums/72157700626882335" title="IEN"><img src="https://farm2.staticflickr.com/1886/43367030745_bfd680b7d7_z.jpg" width="640" height="238" alt="IEN"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    </div>
{% endblock %}
