<% layout('../layout') -%>
    <div id="main" class="main"></div>
    <br /><br /><br /><br /><br /><br />
    <div id="team" class="team cta-team-outer">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="cta-team-inner">
                        <h1 class="wow fadeInDown" data-wow-delay="0.1s">
                            Our Awesome Team
                        </h1>
                        <h5>Total Members:
                            <%= teamMembers.length %>
                        </h5>
                        <br />
                        <input type="text" id="searchInput" onkeyup="filter()" placeholder="Search for names.." />
                        <div class="at-grid" data-column="4" data-wow-delay="0.2s">
                            <% for (let i = 0; i < teamMembers.length; i++) { %>
                                <div class="at-column">
                                    <div class="at-user">
                                        <div class="at-user__avatar">
                                            <img src="<%= teamMembers[i]['picture'] %>" />
                                        </div>
                                        <div class="at-user__name">
                                            <%= teamMembers[i]['firstName'] %>
                                                <%=
                                    teamMembers[i]['lastName'] %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filter() {
            // Declare variables
            var filter, members, name, i;
            filter = document
                .getElementById("searchInput")
                .value.toLowerCase()
                .trim();
            members = document.getElementsByClassName("at-column");

            // Loop through all members, and hide those who don't match the search query
            for (i = 0; i < members.length; i++) {
                name = members[i].getElementsByClassName("at-user__name")[0];
                if (name.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    members[i].style.display = "";
                } else {
                    members[i].style.display = "none";
                }
            }
        }
    </script>